@inject LinesCurrentState LinesCurrentState
@inject LinesClickState LinesClickState
@inject LinesIdleState LinesIdleState

<div class="cat" @onclick="HandleClick" style="background-image: url(assets/paws-idle.gif)"></div>

@code {
  private void HandleClick()
  {
    LinesCurrentState.LinesCurrent = LinesCurrentState.LinesCurrent + LinesClickState.LinesClick;
  }
}