@inject LinesCurrentState LinesCurrentState
@inject LinesClickState LinesClickState
@inject LinesIdleState LinesIdleState
@inject CatState CatState

<div class="cat" @onclick="HandleClick" style="background-image: url(@CatState.UpdateCatSprite())"></div>

@code {
  private void HandleClick()
  {
    LinesCurrentState.LinesCurrent = LinesCurrentState.LinesCurrent + LinesClickState.LinesClick;
  }
}