@inherits FluxorComponent

@using MiniProject.Store

@inject IDispatcher Dispatcher
@inject IState<LocState> LocState

<div class="cat" @onclick="IncrementCount" style="background-image: url(assets/paws-idle.gif)"></div>

@code {
  private void IncrementCount()
  {
    Dispatcher.Dispatch(new LocIncrementAction());
  }

  private void SaveCount()
  {
    Dispatcher.Dispatch(new LocPersistStateAction(LocState.Value));
  }

  private void LoadCount()
  {
    Dispatcher.Dispatch(new LocLoadStateAction());
  }

  private void ClearCount()
  {
    Dispatcher.Dispatch(new LocClearStateAction());
  }
}