.cat {
  position: absolute;
  bottom: 32px;
  left: 16px;
  width: 440px;
  height: 308px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.syntax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 128px);
}

.syntax {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 7px;
}