@inherits FluxorComponent

@using MiniProject.Store

@inject IDispatcher Dispatcher
@inject IState<LocState> LocState

<div class="playercard">
  <div class="player-icon" style="background-image:url('')"></div>
  <div class="player-info">
    <div class="player-name"># <span class="edit">🖊️</span></div>
    <div class="stats-container">
      <span>has written @LocState.Value.CurrentLoc Lines of Code</span>
      <span>(@LocState.Value.LocSec LoC/sec)</span>
    </div>
  </div>
</div>

@code {
  protected override void OnInitialized()
  {
    Dispatcher.Dispatch(new LocLoopAction());
  }
}