.playercard {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player-icon {
  width: 60px;
  height: 60px;
  background-size: contain;
}

.player-info {
  display: flex;
  flex-direction: column;
}

.player-name {
  font-size: 1.5rem;
}

.edit {
  cursor: pointer;
}

.stats-container {
  position: relative;
  display: flex;
  flex-direction: column;
}